body{
    background: #f5f5f5;
    margin-top:20px;
}

.card{
    background: #2f2c33 !important;
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24,28,33,0.1);
    background: rgba(0,0,0,0) ;
    color: white !important;
}

.btn-primary {
    display: block;
    background: white !important;
    color: #2f2c33 !important;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px; /* Add some space between the last input and the button */
}

.btn-primary:hover{
    background-color: white;
    color: white;
    transition: background-color 0.3s ease;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}
.list-group-item {
color: white !important;
}

.text-light {
    color: #babbbc !important;
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}
html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}
.account-settings-multiselect ~ .select2-container {
    width: 100% !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: white !important;
}

.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: white !important;
}
.material-style .account-settings-links .list-group-item.active {
    color: white !important;
}
.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color:white !important;
}
.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24,28,33,0.03) !important;
}


.account-settings-links .list-group-item.active {
    color: white !important; 
}

.account-settings-links .list-group-item {
    background-color: #2f2c33;
}

.account-settings-links .list-group-item:hover {
    background-color: #2a272d;
}

.mb-4 {
    color: white;
}

#bottom-buttons{
    display: flex;
    flex-direction:row;
    justify-content: end;
}