
.container-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;

  
 
}

.address {
    height: 100%; 
    width: 100%;   
    background: #0e1111;
    color: white;
    border-radius: 18px;
    background: linear-gradient(to right, #0e1111, #1f282c);  /* Gradient transitioning from the form background to the image background */




    
  }
  @keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


  .image-holder{
    background:url("../Images/deliveryTruck2.png");
    background-size: cover;
    background-position: 70% center;
    width: 100%;
    animation: slideInFromRight 0.2s ease-in-out; /* 2s is the duration of the animation. You can adjust as needed. */
    overflow: hidden; 
  }


  
  .address-container {
    padding: 35px 25px;
  }
  
  .heading-3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  
  .input {
    padding: 5px 0;
  }
  .select {
    padding: 5px 0;
  }
  
  .input label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #78757c;
  }
  
  .input input {
    width: 100%;
    padding: 5px 10px;
    color: white;
    letter-spacing: 0px;
    font-size: 20px;
    background: 0;
    border: 0;
  }
  
  .input input:focus {
    outline: 0;
  }
  
  .input-field {
    border: 1px solid #78757c;
    border-radius: 5px;
    position: relative;
  }
  
  .input-field img {
    width: 25px;
    height: auto;
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 5px;
  }
  
  /* Removes form Controls */
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }
  .button-div{
    display: flex;
    justify-content: center;
   
}
  
  
.checkout-btn {
    display: block;
    background: white;
    color: #2f2c33;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px; /* Add some space between the last input and the button */
    width: 20%;
}

.checkout-btn:hover {
    background-color: #2f2c33;
    color: white;
    transition: background-color 0.3s ease;
}

  