.container-page{
    display: flex;
    justify-content: center; 

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image-holder2{
    background: url("../Images/creditcard2.png");
  background-size: cover;
    background-position: 70% center;
    width: 100%;
    animation: fadeIn 0.8s ease-in-out; /* 2s is the duration of the animation. You can adjust as needed. */

}
    
.basket-container{
    background: #2f2c33;
    color: white;
    border-radius: 18px;
    height: 200px;
    width: 300px;
    padding: 35px 25px 35px 25px;

  }
  

.checkout {
    background: #0e1111;
    color: white;
    padding: 20px;
    width: 100%;
    background: linear-gradient(to right, #0e1111, #131818);  
}

.checkout-container {
    padding: 25px 35px;
}

.heading-3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px; 
}

.row {
    display: flex;
    justify-content: space-between; /* Distribute the two columns evenly */
    margin-top: 10px; /* Space between the card number and the expiration/cvv row */
}

.col {
    flex: 1; /* Make sure both columns take up equal width */
    padding: 5px; /* Add some padding to avoid columns sticking together */
}

.input {
    margin-bottom: 15px; /* Add some space between inputs */
}

.input label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #78757c;
    margin-bottom: 5px; /* Space between the label and the input field */
}

.input input {
    width: 100%;
    padding: 10px;
    color: white;
    background: none;
    border: 1px solid #78757c;
    border-radius: 5px;
    font-size: 14px;
}

.input-field {
    position: relative;
}

.input-field img {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); /* Center the image vertically */
}

.checkout-btn {
    display: block;
    background: white;
    color: #2f2c33;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px; /* Add some space between the last input and the button */
    width: 100%;
}

.checkout-btn:hover {
    background-color: #2f2c33;
    color: white;
    transition: background-color 0.3s ease;
}
