#wrapper_infocheckout{
    display: flex;
    flex-direction: column;
}

#inputCreditCard_checkout{
    display: flex;
    flex-direction: row;
    
}

.inputLabels_checkout{
    display: flex;
    flex-direction: column;
}

.creditcard_checkout{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-color: #80808046;
    border: 1px;
    border-style: solid;
}

#iconsPaypal_checkout{
    display: flex;
    flex-direction: row;
}

