html,body,#root,.App{
    height: 100%;
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
        background-color: #DDD0C8;

}

#container_home{
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
}

#navbar_home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:5%;
    width: 15%;
}

#button_list{
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:5%;
    width: 7%;
}

#wrapper_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
    min-height: 100%; /* Set a minimum height */
    background-image: url('../Images/background_home.jpg');
    background-size: cover;
    text-align: center; /* Center-align text within the wrapper */
}

#wrapper_title {
    margin-left: 20%; /* Adjust the margin to move it a bit to the right */
}
/* Typewriter effect for the h1 */
@keyframes typing {
    0% {
        width: 0;
    }
    10% {
        width: 10%;
    }
    20% {
        width: 20%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-right: 2px solid transparent; /* Create a blinking cursor effect */
    }
}

h1 {
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
    border-right: 2px solid #323232; /* Add a cursor line */
    animation: typing 5s steps(10, end), blink 1s step-end infinite; /* Adjust duration and steps */
}


.plans_button_home {
    background-color: #323232;
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
    white-space: nowrap;
    color: white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 18px;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Add margin to separate the button from the text */
    font-size: 18px; /* Increase font size to make the text larger */

}

.plans_button_home:hover {
    background-color: #0056b3;
}

#wrapper2_home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-image: url('../Images/background_home2.jpg');
    background-size: cover;   
}


.line_home{
    width: 100%;
}

#wrapper_work_home{
    display: flex;
    flex-direction: column;
}

#work_list{
    display: flex;
    flex-direction: row;
}

.wrapper_images_home{
    display: flex;
    flex-direction: row;
}

.placeholder{
    height: 150px;
    width: 150px;
}

.wrapper_choices{
    display: flex;
    flex-direction: column;
}

.wrapper_options_home{
    background-image: url('../Images/background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}