#navbar_home {
  display: flex; /* Use Flexbox to create a row layout */
  justify-content: space-between; /* Distribute space between elements */
  align-items: center; /* Vertically align elements */
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
    background-color: #DDD0C8;
  color: white;
}

a {
  text-decoration: none;
  color: #323232;
  font-size: 18px;
  white-space: nowrap;
  transition: color 0.3s ease, 
}
a:hover {
  color: #007bff;

}

#button_list button {
  background-color: #323232;
  font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
  white-space: nowrap;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;

  border-radius: 18px;
  transition: background-color 0.3s ease;
}

#button_list button:hover {
  background-color: #0056b3;
}
