@keyframes fadeIn {
	from {
	  opacity: 0;
	  transform: translateY(-20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }

  @keyframes fadeInUp {
	from {
	  opacity: 0;
	  transform: translateY(20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
}

.item-animation {
	animation: fadeInUp 1s ease-out forwards;
  }
  
  .cart-header {
	text-align: center;
	background-color: #0e1111;
	border-radius: 8px;
	color: #f0f0f0;
	animation: fadeIn 1s ease-out forwards; /* Apply the animation here */
  }
  
  .cart-header h2 {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
  }
  
  .cart-header .highlight {
	color: #4db6ac;
	font-weight: 700;
  }
  
  .cart-instructions {
	font-size: 1.2rem;
	color: #cfd8dc;
	margin-bottom: 0.5rem;
  }
  
  .cart-message {
	font-size: 1rem;
	color: #cfd8dc;
	font-weight: 400;
  }
  
  .cart-message strong {
	color: #ffffff;
	font-weight: 600;
  }