
html,body,#root,.App{
    height:100%;
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#wrapper{
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 80%;
    border: dashed;
    justify-content: center;
    align-items: center;
    
}

#right_wrapper{
    background-image: url('../Images/background.jpg');
    background-size:cover;
    height: 100%;
    width: 65%;
    justify-content: center;
    align-items: center; 
}

#left_wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    justify-content: center;
    align-items: center;  
}

#social_media_wrapper{
    display: flex;
    flex-direction: row;
}