
body, html{
    height: 100%;
}

.signup{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:20%;
    width: 100%;
}
div{
    height:100%;   
}

.signup_container{
    background-color: white;
    width: 40%;
    height: 60%;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156,156,156);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    gap:5%;
}


.name{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 60%;
    gap:5%;
}

.user{
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.281);  
}

#email{
    width: 70%;
    height: 60%;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.281);  
}

.check{
    width: 100%;
    padding-left: 13.5%;
}

#continue_button{
  background-color: #2D3436;
  border-color: #2D3436;
  border-width:thin;
  border-radius: 4px;
  color: #ffff;
  width: 80%;
  height: 60%;
  font-size: 100%;
  margin-bottom: 10%;
}

#continue_button:hover{
    background-color: #252b2c;
}

.app{
    width: 30%;
    padding-top: 5%;
    margin-right: 10%;
}


